<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Cloud native Development Team Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
  <div>
      <h1>Welcome to Cloud native Development Team application</h1>
      added via test git branch-Vj
    {{{body}}}
</div>
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
       title: <input name="title" type="text" /> <br />
       description: <input name="description" type="text" /> <br />
       <br />
        <input type="submit" name="submit" value="submit" />
    </form>
    <h2>Uploading an image for an event </h2>
    <form action="/event" method="post">
        <input type="file" id="imgupload" style="display:none"/> 
        <button id="OpenImgUpload">Image Upload</button>
        
    </form>

   
  </div>
</body>
</html>